@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0ede9;
}

.navbar {
    width: 97%;
    margin: 0 auto;
    position: fixed;
    z-index: 2;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
    background-color: #ffffff3f;
    backdrop-filter: blur(10px);

    .navbar-nav {
        margin-right: 150px;
        color: black;
    }

    .nav-link:hover {
        color: v.$color-primary;
    }

    .card-img {
        height: 50rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar-brand {
        margin-left: 100px;
        color: red;
    }
}

.bg-roll {
    position: absolute;
    top: 3rem;
    width: 40%;
    right: 0;
    filter: sepia(20%);
    filter: brightness(60%);
}

.icons {
    padding: 3rem 10rem;
    @include m.flex-center;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .icons {
        padding: 3rem 5rem;
    }
}

.home-pics {
    width: 100%;
}

.home-header {

    .top-body {
        padding: 3rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
    }

    button {
        border: 0;
        background-color: #ce2111;
        color: white;
        padding: 10px 30px;
        border-radius: 5px;
        position: relative;
    }
}

.sushi-draw{
    position: absolute;
    width: 30%;
    left: 0;
    bottom: 2rem;
    opacity: 0.4;
}

/* .home-img-album{
    padding: 3rem 0;

    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    li img{
        width: 25rem;
        height: 25rem;
        position: relative;
    }
    span{
        position: absolute;
        color: white;
        left: 0;
    }
} */


.home-img-album {
    padding: 3rem 0;

    .home-img-group {
        img {
            width: 100%;
            height: 19rem;
            position: relative;
        }

        a {
            position: absolute;
            display: flex;
            align-items: center;
        }
    }
}

.online{
    display: flex;
    align-items: center;
}


.online-main {
    display: flex;
    flex-direction: column;
    text-align: center;

    .online-body {
        display: flex;
        flex-direction: column;
    }

    .online-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        button {
            border: 0;
            border-radius: 5px;
            color: white;
            padding: 15px 0;
            width: 10rem;
        }

        :first-child {
            background-color: #f9014f;
        }

        :nth-child(2) {
            background-color: #5c3dbc;
        }

        :last-child {
            background-color: #efc988;
        }
    }
}

.online-right{
    img{
        width: 100%;
        height: auto;
    }
}
